<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css" />
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>

<body>
    
    <section class="nav-bar">
        <div class="container">
            <div class="row">
                <div class="home-logo">
                    <div class="logo">
                        <img src="./assets/logo.svg" width="180px" height="100%">
                    </div>
                    <div class="toggle">
                        <div class="toggle-btn">
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                </div>

                <ul class="nav-menu desctop">
                    <li class="menu-item"> <a href="./index.html">Homepage</a> </li>
                    <li class="menu-item"> <a href="./works.html">Works</a> </li>
                    <li class="menu-item active"> <a href="./about.html">About me</a> </li>
                    <li class="menu-item"> <a href="./contact.html">Contact</a> </li>
                </ul>

                <div class="language row">
                    <div class="language-item active">En</div>
                <div class="language-item ">Uz</div>
                </div>
            </div>
        </div>
        <div class="mobile">
            <ul class="nav-menu">
                <li class="menu-item"> <a href="./index.html">Homepage</a> </li>
                <li class="menu-item"> <a href="./works.html">Works</a> </li>
                <li class="menu-item active"> <a href="./about.html">About me</a> </li>
                <li class="menu-item"> <a href="./contact.html">Contact</a> </li>
            </ul>

            <div class="language row">
                <div class="language-item active">En</div>
                <div class="language-item ">Uz</div>
            </div>
        </div>
    </section>
    <section class="about">
        <div class="container">
            <div class="about-title">
                About me
            </div>
            <div class="about-info">
                <!-- <div class="info-img">
                    <img src="./assets/aboutimg.png" alt="">
                </div> -->
                <div class="info">
                    <p class="text">Name: <span>Name Surname</span>  </p>
                    <p class="text">Date of birth: <span>03/03/1998</span>  </p>
                    <p class="text">City: <span>City, Country</span>  </p>
                    <p class="text">Art type: <span>Lorem ipsum dolor</span>  </p>
                    <p class="text">Interests: <span>Interest, interest </span>  </p>
                    <p class="text">Goals: <span>Lorem ipsum dolor sit ame</span>  </p>
                    <p class="text">Working apps: <span>Adobe Photoshop, Adobe Illustrator</span>  </p>
                    <p class="text">Hobbies: <span>Lorem ipsum dolor sit amet, consecte tur adipiscing elit, sed do eiusmod temp or incididunt ut labore et dolore magna aliqu,consecte tur adipiscing elit, incididunt ut labore et dol</span>  </p>
                    <a href="#" class="btn">contact me</a>
                </div>
            </div>  
            <div class="about-content">
                <div class="row">
                    <div class="about-item">
                        <div class="about-number">
                            1
                        </div>
                        <div class="about-item-text">
                                
                            <div class="about-item-title">
                                Опишите себя. Влияет ли Ваше окружение на Ваш стиль дизайна?
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.
                            </p>
                        </div>
                        <div class="accordion">
                            <i class="fas fa-sort-down"></i>
                        </div>
                    </div>
                    <div class="about-item">
                        <div class="about-number">
                            2
                        </div>
                        <div class="about-item-text">
                            <div class="about-item-title">
                                Опишите себя. Влияет ли Ваше окружение на Ваш стиль дизайна?
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.
                            </p>
                        </div>
                        <div class="accordion">
                            <i class="fas fa-sort-down"></i>
                        </div>
                    </div>
                    <div class="about-item">
                        <div class="about-number">
                            3
                        </div>
                        <div class="about-item-text">
                            <div class="about-item-title">
                                Как вы думаете, что является Вашим самым сильным навыком и как Вы оттачивали этот навык с течением времени?
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.
                            </p>
                        </div>
                        <div class="accordion">
                            <i class="fas fa-sort-down"></i>
                        </div>
                    </div>
                    <div class="about-item">
                        <div class="about-number">
                            4
                        </div>
                        <div class="about-item-text">
                            <div class="about-item-title">
                                Как бы Вы описали свой подход к дизайну?

                            </div>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.
                            </p>
                        </div>
                        <div class="accordion">
                            <i class="fas fa-sort-down"></i>
                        </div>
                    </div> 
                    <div class="about-item">
                        <div class="about-number">
                            5
                        </div>
                        <div class="about-item-text">
                            
                            <div class="about-item-title">
                                Опишите себя. Влияет ли Ваше окружение на Ваш стиль дизайна?
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.
                            </p>
                        </div>
                        <div class="accordion">
                            <i class="fas fa-sort-down"></i>
                        </div>
                    </div>
                    <div class="about-item">
                        <div class="about-number">
                            6
                        </div>
                        <div class="about-item-text">
                            <div class="about-item-title">
                                Опишите себя. Влияет ли Ваше окружение на Ваш стиль дизайна?
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.
                            </p>
                        </div>
                        <div class="accordion">
                            <i class="fas fa-sort-down"></i>
                        </div>
                    </div>
                    <div class="about-item">
                        <div class="about-number">
                            7
                        </div>
                        <div class="about-item-text">
                            <div class="about-item-title">
                                Как вы думаете, что является Вашим самым сильным навыком и как Вы оттачивали этот навык с течением времени?
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.
                            </p>
                        </div>
                        <div class="accordion">
                            <i class="fas fa-sort-down"></i>
                        </div>
                    </div>
                    <div class="about-item">
                        <div class="about-number">
                            8
                        </div>
                        <div class="about-item-text">
                            <div class="about-item-title">
                                Как бы Вы описали свой подход к дизайну?

                            </div>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.
                            </p>
                        </div>
                        <div class="accordion">
                            <i class="fas fa-sort-down"></i>
                        </div>
                    </div> 
                    <div class="about-item">
                        <div class="about-number">
                            9
                        </div>
                        <div class="about-item-text">
                            
                        <div class="about-item-title">
                            Опишите себя. Влияет ли Ваше окружение на Ваш стиль дизайна?
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.
                        </p>
                        </div>
                        <div class="accordion">
                            <i class="fas fa-sort-down"></i>
                        </div>
                    </div>
                    <div class="about-item">
                        <div class="about-number">
                            10
                        </div>
                        <div class="about-item-text">
                            <div class="about-item-title">
                                Опишите себя. Влияет ли Ваше окружение на Ваш стиль дизайна?
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.
                            </p>
                        </div>
                        <div class="accordion">
                            <i class="fas fa-sort-down"></i>
                        </div>
                    </div> <div class="about-item">
                        <div class="about-number">
                            11
                        </div>
                        <div class="about-item-text">
                            <div class="about-item-title">
                                Как вы думаете, что является Вашим самым сильным навыком и как Вы оттачивали этот навык с течением времени?
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.
                            </p>
                        </div>
                        <div class="accordion">
                            <i class="fas fa-sort-down"></i>
                        </div>
                    </div>
                    <div class="about-item">
                        <div class="about-number">
                            12
                        </div>
                        <div class="about-item-text">
                            <div class="about-item-title">
                                Как бы Вы описали свой подход к дизайну?

                            </div>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.
                            </p>
                        </div>
                        <div class="accordion">
                            <i class="fas fa-sort-down"></i>
                        </div>
                    </div> <div class="about-item">
                        <div class="about-number">
                            13
                        </div>
                        <div class="about-item-text">
                            
                        <div class="about-item-title">
                            Опишите себя. Влияет ли Ваше окружение на Ваш стиль дизайна?
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.
                        </p>
                        </div>
                        <div class="accordion">
                            <i class="fas fa-sort-down"></i>
                        </div>
                    </div>
                    <div class="about-item">
                        <div class="about-number">
                            14
                        </div>
                        <div class="about-item-text">
                            <div class="about-item-title">
                                Опишите себя. Влияет ли Ваше окружение на Ваш стиль дизайна?
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.
                            </p>
                        </div>
                        <div class="accordion">
                            <i class="fas fa-sort-down"></i>
                        </div>
                    </div>
                    <div class="about-item">
                        <div class="about-number">
                            15
                        </div>
                        <div class="about-item-text">
                            <div class="about-item-title">
                                Как вы думаете, что является Вашим самым сильным навыком и как Вы оттачивали этот навык с течением времени?
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.
                            </p>
                        </div>
                        <div class="accordion">
                            <i class="fas fa-sort-down"></i>
                        </div>
                    </div>
                    <div class="about-item">
                        <div class="about-number">
                            16
                        </div>
                        <div class="about-item-text">
                            <div class="about-item-title">
                                Как бы Вы описали свой подход к дизайну?

                            </div>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.
                            </p>
                        </div>
                        <div class="accordion">
                            <i class="fas fa-sort-down"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </section>



    <section class="footer">

        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="logo">
                        LOGO
                    </div>

                    <ul class="nav-menu">
                        <li class="menu-item active"> <a href="./index.html">Homepage</a> </li>
                        <li class="menu-item"> <a href="./works.html">Works</a> </li>
                        <li class="menu-item"> <a href="./about.html">About me</a> </li>
                        <li class="menu-item"> <a href="#">Contact</a> </li>
                    </ul>

                    <div class="icons row">
                        <div class="icon"><i class="fab fa-linkedin-in"></i></div>
                        <div class="icon"><i class="fab fa-facebook-f"></i></div>
                        <div class="icon"><i class="fab fa-instagram"></i></div>
                        <div class="icon"><i class="fab fa-telegram-plane"></i></div>
                        
                    </div>
                </div>

            </div>
        </div>
    </section>



    <section class="contact-m">
        <div class="row">
            <div class="contact-m-item">
                <div class="contact-m-title">
                    Contact me
                </div>
                <div class="row">

                    <div class="contact-m-left">
                        
                            <span>Name</span>
                            <input type="text" value="Anna Jameson">
    
                            <span>E-mail</span>
                            <input type="e-mail" value="example@mail.ru">
    
                            <span>Phone number</span>
                            <input type="text" value="Anna Jameson">   
                                 
                        
                    </div>
                    <div class="contact-m-right">
                        <span>Massage</span>
                        <textarea placeholder="Write additional comments here"></textarea>
                        <a>Send message</a>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <script src="./js/close.js"></script>

    <script src="./js/cards.js"></script>
    <script src="./filter.js"></script>
</body>

</html>