<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css" />
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>

<body>
    
    <section class="nav-bar">
        <div class="container">
            <div class="row">
                <div class="home-logo">
                    <div class="logo">
                        <img src="./assets/logo.svg" width="180px" height="100%">
                    </div>
                    <div class="toggle">
                        <div class="toggle-btn">
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                </div>

                <ul class="nav-menu desctop">
                    <li class="menu-item"> <a href="./index.html">Homepage</a> </li>
                    <li class="menu-item"> <a href="./works.html">Works</a> </li>
                    <li class="menu-item"> <a href="./about.html">About me</a> </li>
                    <li class="menu-item active"> <a href="./contact.html">Contact</a> </li>
                </ul>

                <div class="language row">
                    <div class="language-item">En</div>
                <div class="language-item  active">Uz</div>
                </div>
            </div>
        </div>
        <div class="mobile">
            <ul class="nav-menu">
                <li class="menu-item"> <a href="./index.html">Homepage</a> </li>
                <li class="menu-item"> <a href="./works.html">Works</a> </li>
                <li class="menu-item"> <a href="./about.html">About me</a> </li>
                <li class="menu-item active"> <a href="./contact.html">Contact</a> </li>
            </ul>

            <div class="language row">
                <div class="language-item active">En</div>
                <div class="language-item ">Uz</div>
            </div>
        </div>
    </section>
    <section class="contact">
        <div class="container">
            <div class="contact-inner row">
                <div class="businesscrad">
                    <div class="business-title">
                        Get in touch with me
                    </div>
                    <div class="business-link">
                        <i class="fas fa-phone-alt"></i><span>+12066561175</span><span>+12066561175</span>
                    </div>
                    <div class="business-link">
                        <i class="far fa-envelope"></i><span>email@gmail.com</span>
                    </div>
                    <div class="icons row">
                        <div class="icon"><i class="fab fa-linkedin-in"></i></div>
                        <div class="icon"><i class="fab fa-facebook-f"></i></div>
                        <div class="icon"><i class="fab fa-instagram"></i></div>
                        <div class="icon"><i class="fab fa-telegram-plane"></i></div>
                    </div>
                </div>
                <div class="contact-item">
                    <div class="row">

                        <div class="contact-m-left">
                            
                            <span>Name</span>
                            <input type="text" value="Anna Jameson">
    
                            <span>E-mail</span>
                            <input type="e-mail" value="example@mail.ru">
    
                            <span>Phone number</span>
                            <input type="text" value="Anna Jameson">   
                                 
                        
                        </div>
                        <div class="contact-right">
                            <span>Massage</span>
                            <textarea placeholder="Write additional comments here"></textarea>
                        
                        </div>
                    </div>
                    <a href="#" class="btn black">Send Massage</a>
                </div>
            </div>
        </div>
    </section>



    <section class="footer">

        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="logo">
                        LOGO
                    </div>

                    <ul class="nav-menu">
                        <li class="menu-item active"> <a href="./index.html">Homepage</a> </li>
                        <li class="menu-item"> <a href="./works.html">Works</a> </li>
                        <li class="menu-item"> <a href="./about.html">About me</a> </li>
                        <li class="menu-item"> <a href="./contact.html">Contact</a> </li>
                    </ul>

                    <div class="icons row">
                        <div class="icon"><i class="fab fa-linkedin-in"></i></div>
                        <div class="icon"><i class="fab fa-facebook-f"></i></div>
                        <div class="icon"><i class="fab fa-instagram"></i></div>
                        <div class="icon"><i class="fab fa-telegram-plane"></i></div>
                    </div>
                </div>

            </div>
        </div>
    </section>



    <section class="contact-m">
        <div class="row">
            <div class="contact-m-item">
                <div class="contact-m-title">
                    Contact me
                </div>
                <div class="row">

                    <div class="contact-m-left">
                        
                            <span>Name</span>
                            <input type="text" value="Anna Jameson">
    
                            <span>E-mail</span>
                            <input type="e-mail" value="example@mail.ru">
    
                            <span>Phone number</span>
                            <input type="text" value="Anna Jameson">   
                                 
                        
                    </div>
                    <div class="contact-m-right">
                        <span>Massage</span>
                        <textarea placeholder="Write additional comments here"></textarea>
                        <a>Send message</a>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <script src="./js/close.js"></script>

    <script src="./js/cards.js"></script>
    <script src="./js/filter.js"></script>
</body>

</html>