<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css" />
    <!-------------- AOS Libarary ------------------->
    <link rel="stylesheet" href="./css/aos.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>

<body>
    <div class="section-navbar nav-bar">

                <div class="container">
                    <div class="row">
                        <div class="home-logo">
                            <div class="logo">
                                <img src="./assets/logo.svg" width="180px">
                            </div>
                            <div class="toggle">
                                <div class="toggle-btn">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                            </div>
                        </div>

                        <ul class="nav-menu desctop">
                            <li class="menu-item active"> <a href="./index.html">Homepage</a> </li>
                            <li class="menu-item"> <a href="./works.html">Works</a> </li>
                            <li class="menu-item"> <a href="./about.html">About me</a> </li>
                            <li class="menu-item"> <a href="./contact.html">Contact</a> </li>
                        </ul>

                        <div class="language row">
                            <div class="language-item active">En</div>
                        <div class="language-item ">Uz</div>
                        </div>
                    </div>
                </div>
                <div class="mobile">
                    <ul class="nav-menu">
                        <li class="menu-item active"> <a href="./index.html">Homepage</a> </li>
                        <li class="menu-item"> <a href="./works.html">Works</a> </li>
                        <li class="menu-item"> <a href="./about.html">About me</a> </li>
                        <li class="menu-item"> <a href="./contact.html">Contact</a> </li>
                    </ul>
    
                    <div class="language row">
                        <div class="language-item active">En</div>
                        <div class="language-item ">Uz</div>
                    </div>
                </div>
    </div>

    <section class="homepage">
        <div class="bg">
            <div class="container">
                <div class="homepage-content">
                    <div class="row">
                        <div class="home-content">
                            <div class="home-title">
                                Explore new wonderful world
                                in works of
                                Barno Alibaeva
                            </div>
                            <div class="home-text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua, lorem ipsum dolor sit amet, consectetur
                                adipiscing elit.
                            </div>
                            <div class="btn" onclick="contactm()">
                                Contact us
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="home-item" style="background-image: url('./assets/bg11.jpg');">
        <div class="bg" style="background: auto;">
            <div class="container">
                <div class="row">
                    <div class="home-item-content">
                        <div class="home-item-data" data-aos="fade-up"data-aos-delay="200">
                            03/21/2021
                        </div>
                        <div class="home-item-title" data-aos="fade-up"data-aos-delay="300">
                            Seoul Mun
                        </div>
                        <div class="home-item-text" data-aos="fade-up"data-aos-delay="400">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusm od tempor incididunt
                            ut labore et dolore magna aliqua, lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        </div>
                        <div class="btn" data-aos="fade-up" data-aos-delay="500">
                            Watch
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="home-item" style="background-image: url('./assets/bg22.png');">
        <div class="bg">
            <div class="container">
                <div class="row">
                    <div class="home-item-content">
                        <div class="home-item-data" data-aos="fade-up"data-aos-delay="200">
                            03/15/2021
                        </div>
                        <div class="home-item-title" data-aos="fade-up"data-aos-delay="300">
                            Nawroz
                        </div>
                        <div class="home-item-text" data-aos="fade-up"data-aos-delay="400">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusm od tempor incididunt
                            ut labore et dolore magna aliqua, lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        </div>
                        <div class="btn" data-aos="fade-up"data-aos-delay="500">
                            Watch
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="home-item" style="background-image:url('./assets/bg3.png')">
        <div class="bg">
            <div class="container">
                <div class="row">
                    <div class="home-item-content">
                        <div class="home-item-data" data-aos="fade-up"data-aos-delay="500">
                            03/21/2021
                        </div>
                        <div class="home-item-title" data-aos="fade-up"data-aos-delay="500">
                            Seoul Mun
                        </div>
                        <div class="home-item-text" data-aos="fade-up"data-aos-delay="500">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusm od tempor incididunt
                            ut labore et dolore magna aliqua, lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        </div>
                        <div class="btn" data-aos="fade-up"data-aos-delay="500">
                            Watch
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="home-item" style="background-image: url('./assets/bg4.png');">
        <div class="bg" >
            <div class="container">
                <div class="row">
                    <div class="home-item-content">
                        <div class="home-item-data" data-aos="fade-up"data-aos-delay="500">
                            03/21/2021
                        </div>
                        <div class="home-item-title" data-aos="flip-up"data-aos-delay="500">
                            Nawroz
                        </div>
                        <div class="home-item-text" data-aos="fade-up"data-aos-delay="500">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusm od tempor incididunt
                            ut labore et dolore magna aliqua, lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        </div>
                        <div class="btn" data-aos="fade-up"data-aos-delay="500">
                            Watch
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <section class="home-item"style="background-image: url('./assets/bg5.png');">
        <div class="bg">
            <div class="container">
                <div class="row">
                    <div class="home-item-content">
                        <div class="home-item-data" data-aos="fade-up"data-aos-delay="500">
                            03/21/2021
                        </div>
                        <div class="home-item-title" data-aos="fade-up"data-aos-delay="500">
                            2020 city's mood
                        </div>
                        <div class="home-item-text" data-aos="fade-up"data-aos-delay="500">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusm od tempor incididunt
                            ut labore et dolore magna aliqua, lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        </div>
                        <div class="btn" data-aos="fade-up"data-aos-delay="500">
                            Watch
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="footer">
        <div class="allworks row">
            <a href="" class="btn black">ALL WORKS</a>
        </div>

        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="logo">
                        LOGO
                    </div>

                    <ul class="nav-menu">
                        <li class="menu-item active"> <a href="#">Homepage</a> </li>
                        <li class="menu-item"> <a href="#">Works</a> </li>
                        <li class="menu-item"> <a href="#">About me</a> </li>
                        <li class="menu-item"> <a href="#">Contact</a> </li>
                    </ul>

                    <div class="icons row">
                        <div class="icon"><i class="fab fa-linkedin-in"></i></div>
                        <div class="icon"><i class="fab fa-facebook-f"></i></div>
                        <div class="icon"><i class="fab fa-instagram"></i></div>
                        <div class="icon"><i class="fab fa-telegram-plane"></i></div>
                    </div>
                </div>

            </div>
        </div>
    </section>



    <section class="contact-m">
        <div class="row">
            <div class="contact-m-item">
                <div class="contact-m-title">
                    Contact me
                </div>
                <div class="row">

                    <div class="contact-m-left">
                        
                            <span>Name</span>
                            <input type="text" value="Anna Jameson">
    
                            <span>E-mail</span>
                            <input type="e-mail" value="example@mail.ru">
    
                            <span>Phone number</span>
                            <input type="text" value="Anna Jameson">   
                                 
                        
                    </div>
                    <div class="contact-m-right">
                        <span>Massage</span>
                        <textarea placeholder="Write additional comments here"></textarea>
                        <a class="btn black"> Send message</a>
                    </div>
                </div>
                
                    <div class="toggle-btn close" onclick="contactclose()">
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                
            </div>
        </div>
    </section>



    <script src="./js/close.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
  AOS.init();
</script>


</body>

</html>