<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>

<body>
    
    <section class="nav-bar">
        <div class="container">
            <div class="row">
                <div class="home-logo">
                    <div class="logo">
                        <img src="./assets/logo.svg" width="180px" height="100%">
                    </div>
                    <div class="toggle">
                        <div class="toggle-btn">
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                </div>

                <ul class="nav-menu desctop">
                    <li class="menu-item"> <a href="./index.html">Homepage</a> </li>
                    <li class="menu-item active"> <a href="./works.html">Works</a> </li>
                    <li class="menu-item"> <a href="./about.html">About me</a> </li>
                    <li class="menu-item"> <a href="./contact.html">Contact</a> </li>
                </ul>

                <div class="language row">
                    <div class="language-item active">En</div>
                <div class="language-item ">Uz</div>
                </div>
            </div>
        </div>
        <div class="mobile">
            <ul class="nav-menu">
                <li class="menu-item"> <a href="./index.html">Homepage</a> </li>
                <li class="menu-item active"> <a href="./works.html">Works</a> </li>
                <li class="menu-item"> <a href="./about.html">About me</a> </li>
                <li class="menu-item"> <a href="./contact.html">Contact</a> </li>
            </ul>

            <div class="language row">
                <div class="language-item active">En</div>
                <div class="language-item ">Uz</div>
            </div>
        </div>
    </section>
    <section class="works">
        <div class="container">
            <div class="path">
                <a href="#">Works</a>
                <i class="fas fa-chevron-right"></i>
                <a href="#" class="active">Seul Mun</a>
            </div>
            
                <div class="work-item-title">
                    Seul Mun
                </div>
                <div class="under-title">
                    <div class="row">
                        <div class="under-category">
                            Catefory: <span> Work Progresses</span>
                        </div>
                        <div class="under-client">
                            Client: <span>Client's name</span>
                        </div>
                        <div class="under-data">
                            03/21/2021
                        </div>
                    </div>
                </div>

                <div class="works-item-content">                    
                        <div class="row center">
                            <div class="item-content-text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua, lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            </div>
                            <div class="content-img">
                                <img src="./assets/image 3.png" alt="">
                            </div>
                            <div class="item-content-text">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p> 
                                                         <br>
                              <p>  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                                                          <br>
                             
                               <p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            </div>
                            <div class="content-img-second row space-between">
                                <div class="img-second">
                                    <div class="div">
                                        <img src="./assets/second1.png" alt="">

                                    </div>
                                </div>
                                <div class="img-second">
                                    <div class="div">

                                        <img src="./assets/second2.png" alt="">
                                    </div>
                                </div>
                                <div class="img-second">
                                    <div class="div">
                                        <img src="./assets/second3.png" alt="">

                                    </div>
                                </div>
                                <div class="img-second">
                                    <div class="div">

                                        <img src="./assets/second4.png" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="item-content-text">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p> 
                                <br>

                                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                                <br>
                             
                               <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            </div>
                            <div class="content-img-third space-between">
                                <img src="./assets/Mask Group.png" width="100%" alt="">
                                <div class="row">
                                    <div class="img-third">
                                        <img src="./assets/" alt="">
                                    </div>
                                    <div class="img-third">
                                        <img src="./assets/" alt="">
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="img-third">
                                        <img src="./assets/" alt="">
                                    </div>
                                    <div class="img-third">
                                        <img src="./assets/" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="item-content-text">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p> 
                                <br>

                                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                                <br>
                             
                               <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            </div>

                        </div>
                    
                </div>

                <div class="item-content-second">
                    <div class="work-item-title">
                        A bit of process
                    </div>
                    <div class="row center">
                        <div class="content-img">
                            <img src="./assets/image 3.png" alt="">
                            <img src="./assets/1.png" class="play-btn"
								onclick="playVideo('./video/11.webm');">
                            <div class="video-player" id="videoPlayer">
                                <video width="100%" controls autoplay id="myVideo">
                                    <source src="./video/11.webm" type="video/mp4">
                                </video>
                                <img src="./assets//closebtn.png" class="close-btn" onclick="stopVideo()">
                            </div>
                        </div>
                        
                        <div class="item-content-text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p> 
                                                     <br>
                          <p>  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                                                      <br>
                         
                           <p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </div>
                    </div>
                    
                    <div class="allworks row">
                        <div class="btn">BACK TO ALL WORKS</div>
                    </div>
                    
                </div>
        </div>
            
            



    </section>



    <section class="footer">

        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="logo">
                        LOGO
                    </div>

                    <ul class="nav-menu">
                        <li class="menu-item active"> <a href="index.html">Homepage</a> </li>
                        <li class="menu-item"> <a href="./works.html">Works</a> </li>
                        <li class="menu-item"> <a href="./about.html">About me</a> </li>
                        <li class="menu-item"> <a href="#">Contact</a> </li>
                    </ul>

                    <div class="icons row">
                        <div class="icon"><i class="fab fa-linkedin-in"></i></div>
                        <div class="icon"><i class="fab fa-facebook-f"></i></div>
                        <div class="icon"><i class="fab fa-instagram"></i></div>
                        <div class="icon"><i class="fab fa-telegram-plane"></i></div>
                    </div>
                </div>

            </div>
        </div>
    </section>



    <section class="contact-m">
        <div class="row">
            <div class="contact-m-item">
                <div class="contact-m-title">
                    Contact me
                </div>
                <div class="row">

                    <div class="contact-m-left">
                        
                            <span>Name</span>
                            <input type="text" value="Anna Jameson">
    
                            <span>E-mail</span>
                            <input type="e-mail" value="example@mail.ru">
    
                            <span>Phone number</span>
                            <input type="text" value="Anna Jameson">   
                                 
                        
                    </div>
                    <div class="contact-m-right">
                        <span>Massage</span>
                        <textarea placeholder="Write additional comments here"></textarea>
                        <a>Send message</a>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <script src="./js/close.js"></script>
    <!-- <script src="./js/cards.js"></script>
    <script src="./filter.js"></script> -->
</body>

</html>