<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" href="./css/bg.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>

<body>
    
    <section class="nav-bar">
        <div class="container">
            <div class="row">
                <div class="home-logo">
                    <div class="logo">
                        <img src="./assets/logo.svg" width="180px">
                    </div>
                    <div class="toggle">
                        <div class="toggle-btn">
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                </div>

                <ul class="nav-menu desctop">
                    <li class="menu-item"> <a href="./index.html">Homepage</a> </li>
                    <li class="menu-item active"> <a href="./works.html">Works</a> </li>
                    <li class="menu-item"> <a href="./about.html">About me</a> </li>
                    <li class="menu-item"> <a href="./contact.html">Contact</a> </li>
                </ul>

                <div class="language row">
                    <div class="language-item active">En</div>
                <div class="language-item ">Uz</div>
                </div>
            </div>
        </div>
        <div class="mobile">
            <ul class="nav-menu">
                <li class="menu-item"> <a href="./index.html">Homepage</a> </li>
                <li class="menu-item active"> <a href="./works.html">Works</a> </li>
                <li class="menu-item"> <a href="./about.html">About me</a> </li>
                <li class="menu-item"> <a href="./contact.html">Contact</a> </li>
            </ul>

            <div class="language row">
                <div class="language-item active">En</div>
                <div class="language-item ">Uz</div>
            </div>
        </div>
    </section>
    <section class="works">
        <div class="container">
            <div class="works-title">
                Works
            </div>
            <div class="works-tab">
                <ul class="tab-items works-filter">
                    <!-- <li class="tab-item active"data-filter="all">All works</li>
                    <li class="tab-item" data-filter="art">Art</li>
                    <li class="tab-item" data-filter="desing">Designs</li>
                    <li class="tab-item" data-filter="useful">Usefuls</li>
                    <li class="tab-item" data-filter="progres">Work Progresses</li> -->
                </ul>
            </div>


            <div class="works-items">
                <div class="row" id="cards">
                    
                </div>
            </div>


            <div class="navigation">
                <div class="row center">
                    <div class="nav-items row">
                        <div class="nav-item active">1</div>
                        <div class="nav-item">2</div>
                        <div class="nav-item">3</div>
                        <div class="nav-item">...</div>
                        <div class="nav-item">23</div>
                    </div>
                </div>
            </div>

        </div>

    </section>
    <div id='w'>
        <canvas id="space"></canvas>
      <a href="#" id="warp"></a>
        
      </div>


    <section class="footer">

        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="logo">
                        LOGO
                    </div>

                    <ul class="nav-menu">
                        <li class="menu-item active"> <a href="./index.html">Homepage</a> </li>
                        <li class="menu-item"> <a href="./works.html">Works</a> </li>
                        <li class="menu-item"> <a href="./about.html">About me</a> </li>
                        <li class="menu-item"> <a href="./contact.html">Contact</a> </li>
                    </ul>

                    <div class="icons row">
                        <div class="icon"><i class="fab fa-linkedin-in"></i></div>
                        <div class="icon"><i class="fab fa-facebook-f"></i></div>
                        <div class="icon"><i class="fab fa-instagram"></i></div>
                        <div class="icon"><i class="fab fa-telegram-plane"></i></div>
                    </div>
                </div>

            </div>
        </div>
    </section>



    <section class="contact-m">
        <div class="row">
            <div class="contact-m-item">
                <div class="contact-m-title">
                    Contact me
                </div>
                <div class="row">

                    <div class="contact-m-left">
                        
                            <span>Name</span>
                            <input type="text" value="Anna Jameson">
    
                            <span>E-mail</span>
                            <input type="e-mail" value="example@mail.ru">
    
                            <span>Phone number</span>
                            <input type="text" value="Anna Jameson">   
                                 
                        
                    </div>
                    <div class="contact-m-right">
                        <span>Massage</span>
                        <textarea placeholder="Write additional comments here"></textarea>
                        <a>Send message</a>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <script src="./js/close.js"></script>
    <script src="./js/bg.js"></script>

    <script src="./js/cards.js"></script>
    <script src="./js/filter.js"></script>
</body>

</html>